<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listado-dispositivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">listado-dispositivos</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div class="contenedor-cards">

    @for (dispositivo of dispositivos; track dispositivo.dispositivoId; let e = $even) {
      <ion-card class="mini-card" button   [routerLink]="['/informacion-dispositivo', dispositivo.dispositivoId, dispositivo.nombre]">
        <ion-card-content>
          <p>{{ dispositivo.nombre }}</p>
          <p>{{ dispositivo.ubicacion }}</p>
        </ion-card-content>
      </ion-card>
  } @empty {
      <p>No hay dispositivos!</p>
  }

  </div>

</ion-content>

<!-- <ion-button (click)="subscribe()">Subscribe</ion-button>
<ion-button (click)="unsubscribe()">Unsubscribe</ion-button> -->

