<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-centrado">Historial de lecturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">listado-dispositivos</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div class="contenedor-cards">

    <div class="cards-container">
      @for (medicion of mediciones; track medicion.medicionId) {
        <ion-card class="info-card">
          <ion-card-content>
            <p><strong>Id medición:</strong> {{ medicion.medicionId }}</p>
            <p><strong>Humedad:</strong> {{ medicion.valor }} %</p>
            <p><strong>Fecha:</strong> {{ medicion.fecha | personalizarFecha}}</p>
          </ion-card-content>
        </ion-card>
      }
    </div>

  </div>

</ion-content>
