<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-centrado">Ultima medición registrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">listado-dispositivos</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card class="info-card">
    <ion-card-content>
      <p><strong>Nombre:</strong> {{ nombre }}</p>
      <p><strong>Humedad:</strong> {{ ultima_medicion }} %</p>
      <p><strong>Fecha:</strong> {{ fecha | personalizarFecha }}</p>
      @if (estado_valvula==1) {
        <p>Válvula abierta</p>
      }  @else {
        <p>Válvula cerrada</p>
      }
    </ion-card-content>
  </ion-card>

  <div class="card-actions">
    <ion-button
      [ngClass]="estado_valvula ? 'btn-verde' : 'btn-rojo'"
      class="action-button"
      (click)="toggleValvula()">
      Válvula
    </ion-button>
    <ion-button
      color="secondary"
      class="action-button"
      [routerLink]="['/historial-dispositivo', id]">
      Historial
    </ion-button>
  </div>
  

</ion-content>
